<template>
  <div class="slide">
   <form class="form" method="post">
       <div class="title">
         Задайте Ваши вопросы
       </div>

       <div class="form__group field">
           <input
               type="input"
               class="form__field"
               placeholder="Имя"
               name="name"
               id='name'
               maxlength="50"
               required
               v-model="form.name"
           />

           <label
               for="name"
               class="form__label"
           >
             Name
           </label>
      </div>

     <div class="form__group field">
         <input
             type="input"
             class="form__field"
             placeholder="Почта"
             name="email"
             id='email'
             required
             v-model="form.email"
         />
         <label
             for="email"
             class="form__label"
         >
           Email
         </label>
     </div>

     <div class="form__group field">
         <input
             type="input"
             class="form__field"
             placeholder="Вопросы / Комментарии"
             name="question"
             id='question'
             maxlength="500"
             required
             v-model="form.question"
         />
         <label
             for="question"
             class="form__label"
         >
           Вопросы / Комментарии
         </label>
     </div>
     <div class="button-container">
       <button
           class="form-button"
           @click.prevent="handleSubmit()"
       >
         Отправить
       </button>
     </div>
   </form>
  </div>
  <div class="partners">
    <div class="partners-title">
      Проект выполнен при поддержке:
    </div>
    <div class="partners-img">
      <a href="https://ec-integra.ru/" target="_blank">
        <img src="/images/integra.png" alt="Интегра" style="width: 252px; height: 62px;">
      </a>
      <a href="https://exponent.sfedu.ru/" target="_blank">
        <img src="/images/exp.png" alt="Exp(sfedu)" style="width: 202px; height: 46px;">
      </a>
      <a href="https://sfedu.ru/" target="_blank">
        <img src="/images/sfedu.png" alt="ЮФУ" style="width: 110px; height: 110px;">
      </a>
      <a href="https://fasie.ru/" target="_blank">
        <img src="/images/fsi.png" alt="Фонд содействия инновациям" style="width: 134px; height: 64px;">
      </a>
      <a href="https://univertechpred.ru/" target="_blank">
        <img src="/images/pitp.png" alt="Платформа университетского технологического предпринимательства" style="width: 156px; height: 120px;">
      </a>
      <a href="https://ictis.sfedu.ru/" target="_blank">
        <img src="/images/ictis.png" alt="ИКТИБ" style="width: 184px; height: 80px;">
      </a>
    </div>
  </div>
  <Footer />
</template>

<script setup lang="ts">
import Footer from "./Footer.vue";
import { reactive } from "vue";
import { sendEmailFromContactUs } from "../model/contact-us-form.ts";
import { ElMessage } from "element-plus";

const form = reactive({
  name: '',
  email: '',
  question: ''
});

const handleSubmit = () => {
  if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(form.email)) {
    ElMessage({
      message: 'Сообщение отправлено. Спасибо за вопрос!',
      type: 'success',
    })

    return sendEmailFromContactUs(form)
  }
}
</script>

<style scoped>
.slide {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.partners {
  margin-top: 60px;
  margin-left: 120px;
  margin-bottom: 30px;

  color: #2F3133;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;

  @media (min-width: 320px) and (max-width: 450px) {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  @media (min-width: 450px) and (max-width: 768px) {
    width: 100%;
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

.partners-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: 15px;
  }

  @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 100%;
      justify-content: center;
      margin-top: 15px;
  }
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 16px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    font-size: 18px;
  }
}

.form-button {
  display: flex;
  width: 186px;
  height: 39px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4D7CA7;
  color: #FFF;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;

  cursor: pointer;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }
}

.form {
  max-width: 550px;
  width: 100%;
  padding: 40px 45px 35px;

  border-radius: 10px;
  background: #FFF;

  box-shadow: 0 3px 49px 9px rgba(0, 0, 0, 0.06);

  @media (min-width: 320px) and (max-width: 450px) {
    padding: 30px 35px 25px;
  }

  @media (min-width: 450px) and (max-width: 768px) {
    max-width: 380px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 470px;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 16px;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 10px;

    @media (min-width: 320px) and (max-width: 450px) {
      font-size: 14px;
    }
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 10px;
  color: #9b9b9b;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: #4D7CA7;
    font-weight:400;
  }
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 2px;
  border-color: #4D7CA7;
  border-image-slice: 1;
}

input {
  max-width: 540px;
  width: 100%;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}
</style>