<template>
  <div>
    <div class="first-slide">
      <div class="content">
        <div class="content-title">
          Безопасность дома в ваших руках
        </div>
        <div class="content-description">
          Поможем Вам следить за безопасностью своего дома из любой точки мира
        </div>
      </div>
      <div>
        <img src="/images/house.png" alt="house">
      </div>
    </div>
  </div>
</template>

<style scoped>
.first-slide {
  display: flex;
  justify-content: center;

  text-align: right;
  margin-left: 30px;
  max-width: 100%;
  height: 90vh;

  background: url("/images/map.png");
  background-size: cover;

  @media (min-width: 320px) and (max-width: 450px) {
    height: auto;
    text-align: center;
  }

  @media (min-width: 450px) {
    height: auto;
  }

  @media (min-width: 1025px) {
    height: 90vh;
  }
}

.content {
  width: 100%;

  @media (min-width: 320px) {
    margin-top: 20px;
    max-width: 320px;
  }

  @media (min-width: 450px) {
    margin-top: 50px;
    max-width: 400px;
  }

  @media (min-width: 768px) {
    margin-top: 200px;
    max-width: 400px;
  }

  @media (min-width: 1025px) {
    margin-top: 240px;
    max-width: 400px;
  }

  @media (min-width: 1200px) {
    margin-top: 270px;
    max-width: 500px;
  }
}

.content-title {
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;

  @media (min-width: 450px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

.content-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  margin-top: 16px;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
    padding-bottom: 40px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    font-size: 16px;
  }
}

img {
  @media (min-width: 320px) and (max-width: 450px) {
    display: none;
  }

  @media (min-width: 450px) {
    width: 200px;
  }

  @media (min-width: 768px) {
    width: 400px;
  }

  @media (min-width: 1025px) {
    width: 500px;
  }

  @media (min-width: 1200px) {
    width: 100%;
    margin-top: -30px;
  }
}

.hide-on-mobile {
  @media (max-width: 1024px) {
    display: none;
  }
}
</style>