<template>
    <div class="footer">
        Проект выполнен при поддержке «Фонда содействия инновациям» в рамках федерального проекта «Платформа университетского технологического предпринимательства».
    </div>
</template>

<style scoped>
.footer {
  max-width: 100%;
  padding-bottom: 10px;

  text-align: center;
  color: rgba(0, 0, 0, 0.50);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;

  z-index: 10;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    padding: 20px;
  }
}
</style>