<template>
<div class="fourth-slide">
  <img src="/images/vertical.png" class="fourth-slide-img hide-on-mobile">
  <div class="img-on-mobile">
    <img src="/images/horizontal.png" class="fourth-slide-img on-mobile">
  </div>
  <div class="content">
    <div class="title">
      Мы предлагаем
    </div>
    <div class="form-wrapper">
      <div class="description">
        <div class="system-name">
          Интеллектуальная система SecureMyHouse
        </div>

        <div class="total-price">
          10 000 р
        </div>

        <div class="system-description">
          Предоставляется как услуга.
          После установки и наладки системы она полностью поддерживается. В случае неполадок команда приедет к вам и все устранит.
        </div>

        <div
            v-for="(item, index) in priceList"
            :key="'price' + index"
            class="list"
        >
          <div>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.0059 9.67688V10.5051C19.0047 12.4466 18.3761 14.3356 17.2137 15.8905C16.0512 17.4455 14.4173 18.583 12.5556 19.1335C10.6938 19.6839 8.70404 19.6178 6.88294 18.945C5.06183 18.2722 3.507 17.0288 2.45034 15.4001C1.39367 13.7714 0.891777 11.8448 1.01952 9.90764C1.14725 7.97043 1.89778 6.12642 3.15915 4.65061C4.42053 3.1748 6.12517 2.14628 8.01885 1.71843C9.91253 1.29057 11.8938 1.48632 13.6671 2.27648" stroke="#212529" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M19.0058 3.3027L10.0029 12.3146L7.302 9.61376" stroke="#212529" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>

          <span>
            {{ item.text }} <span class="price">{{ item.price }}</span>
          </span>
        </div>
    </div>
    </div>
  </div>
</div>
</template>

<script setup lang="ts">
import { priceList } from "../model/price-list.ts";
</script>

<style scoped>
.img-on-mobile {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  @media (min-width: 450px) and (max-width: 768px){
    display: flex;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 1024px){
    display: flex;
    justify-content: center;
  }
}

.fourth-slide {
  max-width: 1090px;
  width: 100%;

  display: flex;
  gap: 100px;

  margin-left: 150px;
  margin-top: 30px;

  @media (min-width: 320px) and (max-width: 450px) {
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    gap: 30px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    gap: 50px;
  }


  @media (min-width: 768px) and (max-width: 1024px){
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    gap: 50px;
  }

  @media (min-width: 1024px) and (max-width: 1200px){
    max-width: 990px;
    width: 100%;

    gap: 50px;
    margin-left: 100px;
  }
}

.fourth-slide-img {
  height: 85vh;

  @media (min-width: 320px) and (max-width: 450px) {
    width: 320px;
    height: 190px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    width: 350px;
    height: 200px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    width: 350px;
    height: 200px;
  }
}

.content {
  max-width: 470px;
  width: 100%;
  margin-top: 10px;

  @media (min-width: 450px) and (max-width: 768px){
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  @media (min-width: 768px) and (max-width: 1024px){
    max-width: 100%;
    justify-content: left;
  }
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: .4px;

  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    font-size: 22px;
    text-align: center;
  }
}

.description {
  margin-top: 25px;
  padding: 30px 44px;

  border-radius: 10px;
  border: 1px solid rgba(135, 135, 135, 0.14);

  background: #FFF;

  box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.25);

  @media (min-width: 320px) and (max-width: 450px) {
    padding: 20px 30px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    max-width: 400px;
    width: 100%;
    padding: 20px 30px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 470px;
    width: 100%;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }
}

.price {
  color: #C50000;

  font-size: 18px;
  font-weight: 500;
  line-height: 140%;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    font-size: 16px;
  }
}

.total-price {
  padding: 25px 0;
  color: #212529;

  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;

  @media (min-width: 320px) and (max-width: 450px) {
    padding: 15px 0;

    font-size: 18px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    padding: 15px 0;
    font-size: 20px;
  }
}

.system-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    font-size: 18px;
  }
}

.system-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.32px;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    font-size: 14px;
  }
}

.hide-on-mobile {
  @media (max-width: 1024px) {
    display: none;
  }
}

.on-mobile {
  @media (min-width: 1025px) {
    display: none;
  }
}
</style>