<template>
<div class="header">
  <img src="/images/logo.png" alt="logo" class="header-logo">

  <div class="header-contacts">
    <a
        href="https://apps.rustore.ru/app/ru.securemyhouse.appx"
        target="_blank"
    >
      <svg width="70" height="22" viewBox="0 0 1480 372" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1495 345.85C52.2991 372 94.3861 372 178.56 372H193.44C277.614 372 319.701 372 345.851 345.85C372 319.701 372 277.613 372 193.439V178.559C372 94.3846 372 52.2975 345.851 26.148C319.701 -5.51627e-06 277.614 -3.67659e-06 193.44 2.7596e-09L193.44 2.7696e-09L178.56 6.53195e-07L178.56 6.53204e-07C94.386 4.33256e-06 52.2991 6.17223e-06 26.1495 26.148C-5.51631e-06 52.2975 -3.67662e-06 94.3847 2.75954e-09 178.559L6.53194e-07 193.439C4.33257e-06 277.613 6.17227e-06 319.701 26.1495 345.85ZM287.205 247.26L262.06 240.978C259.039 240.107 256.906 237.386 256.799 234.224L253.662 141.713C252.755 129.469 243.665 119.73 234.167 116.862C233.634 116.701 233.064 116.918 232.748 117.377C232.427 117.843 232.551 118.489 232.999 118.835C235.345 120.651 241.8 126.576 241.8 136.796L241.782 257.751C241.782 269.431 230.745 277.997 219.361 275.153L193.834 268.776C191.006 267.785 189.042 265.15 188.939 262.112L185.802 169.594C184.895 157.349 175.806 147.611 166.307 144.743C165.774 144.582 165.205 144.799 164.889 145.258C164.568 145.724 164.692 146.37 165.14 146.716C167.485 148.532 173.955 154.443 173.955 164.663L173.936 285.644C173.936 297.324 162.9 305.89 151.515 303.046L79.4234 285.037C69.4006 282.533 62.3731 273.568 62.3731 263.285L62.3731 142.14C62.3731 130.46 73.4095 121.895 84.7936 124.738L130.219 136.086V114.247C130.219 102.568 141.255 94.0019 152.639 96.8457L198.063 108.193V86.354C198.063 74.6745 209.099 66.1085 220.483 68.9523L292.575 86.9612C302.598 89.465 309.625 98.4305 309.625 108.713V229.858C309.625 241.538 298.589 250.104 287.205 247.26Z" fill="black"/>
        <path d="M581.376 213.713C609.306 206.531 627.66 184.985 627.66 156.789C627.66 121.943 599.996 97.4705 561.16 97.4705H492V285.001H523.92V216.107H546.53L596.006 285.001H633.512L581.376 213.713ZM561.16 126.731C581.11 126.731 594.942 138.967 594.942 156.789C594.942 174.611 581.11 186.847 561.16 186.847H523.92V126.731H561.16Z" fill="black"/>
        <path d="M705.351 287.661C722.109 287.661 737.537 278.883 746.315 264.253L752.433 285.001H775.309V146.681H744.719V226.747C744.719 246.431 731.685 260.263 713.863 260.263C696.307 260.263 684.071 246.431 684.071 226.747V146.681H653.481V230.205C653.481 263.455 675.825 287.661 705.351 287.661Z" fill="black"/>
        <path d="M872.933 287.661C908.311 287.661 937.571 267.445 937.571 233.929C937.571 196.423 906.981 185.517 880.647 176.473C860.165 169.557 842.343 163.173 842.343 146.415C842.343 131.785 855.909 124.071 871.869 124.071C888.627 124.071 900.597 132.849 907.247 147.745L937.571 142.691C927.995 113.431 903.789 94.8105 870.805 94.8105C836.757 94.8105 809.625 114.495 809.625 148.011C809.625 185.783 840.215 196.157 866.549 204.935C886.765 211.585 904.853 217.969 904.853 234.993C904.853 249.889 891.287 258.401 873.199 258.401C852.451 258.401 841.279 248.559 831.437 230.737L800.581 236.057C809.625 267.711 838.353 287.661 872.933 287.661Z" fill="black"/>
        <path d="M1020.79 258.401C1010.41 258.401 1005.36 253.347 1005.36 242.973V173.281H1046.59V146.681H1005.36V106.781H982.483L974.769 146.681H952.159V173.281H974.769V242.973C974.769 270.105 990.463 285.001 1020.79 285.001H1046.59L1049.25 258.401H1020.79Z" fill="black"/>
        <path d="M1136.66 287.661C1180.02 287.661 1210.61 257.869 1210.61 215.841C1210.61 173.813 1180.02 144.021 1136.66 144.021C1093.31 144.021 1062.72 173.813 1062.72 215.841C1062.72 257.869 1093.31 287.661 1136.66 287.661ZM1136.66 259.731C1111.66 259.731 1094.64 241.909 1094.64 215.841C1094.64 189.773 1111.66 171.951 1136.66 171.951C1161.67 171.951 1178.69 189.773 1178.69 215.841C1178.69 241.909 1161.67 259.731 1136.66 259.731Z" fill="black"/>
        <path d="M1267.8 285.001V203.339C1267.8 185.783 1276.31 175.941 1294.93 175.941H1312.48L1309.82 146.681H1303.97C1287.75 146.681 1275.24 151.203 1265.93 166.631L1260.08 146.681H1237.21V285.001H1267.8Z" fill="black"/>
        <path d="M1463 214.245C1463 174.345 1433.21 144.021 1391.18 144.021C1349.16 144.021 1319.36 174.079 1319.36 215.841C1319.36 257.603 1349.16 287.661 1391.18 287.661C1419.91 287.661 1447.04 274.095 1457.42 247.761L1428.69 242.973C1422.04 252.815 1409.27 259.731 1393.05 259.731C1369.64 259.731 1354.21 245.367 1351.28 224.087H1462.47C1462.74 221.161 1463 217.969 1463 214.245ZM1391.18 170.621C1410.34 170.621 1424.7 182.857 1429.75 200.147H1353.15C1358.2 182.325 1372.56 170.621 1391.18 170.621Z" fill="black"/>
      </svg>
    </a>
    <a
        href="https://vk.com/ssscps"
        target="_blank"
    >
      <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.1989 11.947H17.0211C16.1961 11.947 15.942 11.2927 14.4579 9.78892C13.1689 8.53923 12.5979 8.37329 12.2801 8.37329C11.8311 8.37329 11.7036 8.49985 11.7036 9.11579V11.0836C11.7036 11.6114 11.5376 11.9283 10.1407 11.9283C7.83074 11.9283 5.26762 10.5314 3.47043 7.92892C0.760117 4.11517 0.0185547 1.2586 0.0185547 0.667979C0.0185547 0.350167 0.145117 0.0529785 0.755429 0.0529785H2.93793C3.49012 0.0529785 3.70012 0.307042 3.9148 0.897667C4.99387 4.01298 6.79106 6.74204 7.53262 6.74204C7.80637 6.74204 7.93293 6.61548 7.93293 5.91704V2.69954C7.84949 1.21548 7.06856 1.08798 7.06856 0.561104C7.06856 0.307041 7.27856 0.0529785 7.61512 0.0529785H11.0473C11.5114 0.0529785 11.682 0.307042 11.682 0.853604V5.19423C11.682 5.66298 11.892 5.82892 12.0186 5.82892C12.2923 5.82892 12.5267 5.66298 13.0339 5.15485C14.6014 3.39704 15.7245 0.686729 15.7245 0.686729C15.8707 0.368917 16.1248 0.0717297 16.677 0.0717297H18.8595C19.5139 0.0717297 19.6601 0.408292 19.5139 0.877042C19.2401 2.14642 16.5692 5.9161 16.5692 5.9161C16.3395 6.29673 16.2514 6.46267 16.5692 6.88735C16.8036 7.20517 17.5657 7.86423 18.0729 8.45485C19.0057 9.51423 19.7229 10.403 19.9142 11.018C20.1289 11.6283 19.812 11.9461 19.1961 11.9461L19.1989 11.947Z" fill="#292C30"/>
      </svg>
    </a>
    <a
        href="mailto:secCPS@yandex.ru"
        target="_blank"
    >
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.5 7.5C27.5 6.125 26.375 5 25 5H5C3.625 5 2.5 6.125 2.5 7.5V22.5C2.5 23.875 3.625 25 5 25H25C26.375 25 27.5 23.875 27.5 22.5V7.5ZM25 7.5L15 13.75L5 7.5H25ZM25 22.5H5V10L15 16.25L25 10V22.5Z" fill="#2A2D31"/>
      </svg>

    </a>

    <a
        href="https://yandex.ru/maps/?text={улица Чехова, 2, Таганрог, Ростовская область, 347922}"
        target="_blank"
    >
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 2.5C10.1625 2.5 6.25 6.4125 6.25 11.25C6.25 17.8125 15 27.5 15 27.5C15 27.5 23.75 17.8125 23.75 11.25C23.75 6.4125 19.8375 2.5 15 2.5ZM8.75 11.25C8.75 7.8 11.55 5 15 5C18.45 5 21.25 7.8 21.25 11.25C21.25 14.85 17.65 20.2375 15 23.6C12.4 20.2625 8.75 14.8125 8.75 11.25Z" fill="#2A2D31"/>
        <path d="M15 14.375C16.7259 14.375 18.125 12.9759 18.125 11.25C18.125 9.52411 16.7259 8.125 15 8.125C13.2741 8.125 11.875 9.52411 11.875 11.25C11.875 12.9759 13.2741 14.375 15 14.375Z" fill="#2A2D31"/>
      </svg>
    </a>
  </div>
</div>
</template>

<style scoped>
.header {
  max-width: 100%;

  display: flex;
  justify-content: space-around;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (min-width: 320px) and (max-width: 450px) {
    gap: 5px;
  }
}
.header-logo {
  width: 180px;

  @media (min-width: 320px) and (max-width: 450px) {
    width: 120px;
  }
}
</style>