<script setup lang="ts">
import { useSlideStore } from "../store/use-slide-store.ts";
import FirstSlide from "../components/FirstSlide.vue";
import SecondSlide from "../components/SecondSlide.vue";
import ThirdSlide from "../components/ThirdSlide.vue";
import FourthSlide from "../components/FourthSlide.vue";
import FifthSlide from "../components/FifthSlide.vue";
import Header from  "../components/Header.vue"

const { setSlideId, slide } = useSlideStore();
const isActive = (id: number) => id === slide.value;
const slidesIds = [1, 2, 3, 4, 5];
</script>

<template>
  <div class="main">
    <Header />
    <div class="slide-menu hide-on-mobile">
      <div
          v-for="(id, index) in slidesIds"
          :key="index"
          class="slide-menu-item"
          @click="setSlideId(id)" :class="{
          'active': isActive(id)
        }"
      >
      </div>
    </div>
    <div class="hide-on-mobile">
      <FirstSlide v-if="isActive(1)"/>
      <SecondSlide v-if="isActive(2)" />
      <ThirdSlide v-if="isActive(3)" />
      <FourthSlide v-if="isActive(4)" />
      <FifthSlide v-if="isActive(5)" />
    </div>

    <div class="on-mobile">
      <FirstSlide />
      <SecondSlide />
      <ThirdSlide />
      <FourthSlide />
      <FifthSlide />
    </div>
  </div>
</template>

<style scoped>
.main {
  @media (min-width: 458px) and (max-width: 1025px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slide-menu {
  position: fixed;
  top: 0;

  max-width: 35px;
  height: 100vh;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  cursor: pointer;
}

.slide-menu-item {
  height: 31px;
  width: 30px;
  background: url("/images/circle.png");
}

.active {
  width: 61px;
  height: 64px;
  background: url("/images/active.png");
}

.hide-on-mobile {
  @media (max-width: 1024px) {
    display: none;
  }
}

.on-mobile {
  @media (min-width: 1025px) {
    display: none;
  }
}
</style>
