<template>
  <div class="secure-my-house">
    <div class="secure-my-house-title">
      SecureMyHouse
    </div>

    <div class="secure-my-house-description">
      <div class="first-description">
        <strong>Интеллектуальная система управления “Интернетом вещей” -</strong><br/>
        это комплексная система по управлению и мониторингу безопасностью вашего дома.
        Это обеспечение не просто безопасности, а кибербезопасности.
      </div>
      
      <img src="/images/phone.png" alt="phone" class="on-mobile">

      <div class="second-description">
        Постоянный мониторинг, управление с мобильного устройства, план реагирования на инциденты -
        наши конкурентные преимущества.
      </div>

      <div class="third-description">
        Оборудование создано на отечественной элементной базе и производится нашими собственными силами.
        Система SecureMyHouse работает на платформе Android.
      </div>
    </div>
  </div>
</template>

<style scoped>
img {
  @media (min-width: 320px) and (max-width: 450px) {
    width: 200px;
  }

  @media (min-width: 450px) {
    width: 250px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
      width: 400px;
  }
}
.secure-my-house {
  @media (min-width: 320px) and (max-width: 450px) {
    margin-top: 30px;
    text-align: center;
    background: none;
  }

  @media (min-width: 450px) {
    margin-top: 50px;
    text-align: center;
    background: none;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    margin-top: 100px;
    text-align: center;
    background: none;
  }

  @media (min-width: 1025px) {
    max-width: 890px;
    width: 100%;
    height: 75vh;

    margin-left: 110px;
    margin-top: 50px;
    padding-left: 350px;
    padding-top: 30px;

    background: url("/images/phone.png");
    background-repeat: no-repeat;
    background-size: 40%;
  }

  @media (min-width: 1200px) {
    max-width: 590px;
    width: 100%;
    margin-left: 100px;
    padding-left: 500px;

    padding-top: 120px;
    background-size: auto;
    height: 75vh;
    margin-top: -10px;
  }
}

.secure-my-house-description {
  color: #353535;

  font-size: 18px;
  font-weight: 300;
  line-height: 140%;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 14px;
  }

  @media (min-width: 1025px) {
    font-size: 16px;
  }
}

.secure-my-house-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.45px;

  @media (min-width: 320px) and (max-width: 450px) {
    font-size: 18px;
  }

  @media (min-width: 450px)  and (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: 1025px) {
    font-size: 30px;
    text-align: left;
  }
}

.first-description {
  max-width: 615px;
  width: 100%;
  margin-top: 12px;

  @media (min-width: 450px)  and (max-width: 768px) {
    max-width: 90%;
    padding: 10px 20px;
    text-align: center;
    background: none;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    max-width: 90%;
    padding: 10px 40px;
    text-align: center;
    background: none;
  }

  @media (min-width: 1024px){
    max-width: 515px;
    text-align: left;
  }
}

.second-description {
  max-width: 360px;
  width: 100%;
  padding-left: 270px;

  @media (min-width: 320px) and (max-width: 450px) {
    padding: 0;
    text-align: center;
  }

  @media (min-width: 450px) and (max-width: 768px){
    max-width: 90%;
    padding: 0 40px;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    max-width: 90%;
    padding: 0 40px;
  }

  @media (min-width: 1025px) {
    padding-left: 170px;
    margin-top: 20px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    padding-left: 250px;
  }
}

.third-description {
  max-width: 360px;
  width: 100%;
  margin-top: 35px;
  padding-left: 270px;

  @media (min-width: 320px) and (max-width: 450px) {
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }

  @media (min-width: 450px) and (max-width: 768px){
    max-width: 80%;
    padding: 0 40px;
    text-align: center;
    margin-top: 10px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    max-width: 90%;
    padding: 0 40px;
    margin-top: 15px;
  }

  @media (min-width: 1025px) {
    padding-left: 170px;
    margin-top: 20px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    padding-left: 250px;
  }
}

.hide-on-mobile {
  @media (max-width: 1024px) {
    display: none;
  }
}

.on-mobile {
  @media (min-width: 1025px) {
    display: none;
  }
}
</style>