<template>
  <div class="third-slide">
    <img src="/images/laptop.png" alt="laptop" class="laptop hide-on-mobile">

    <div class="title">Характерные параметры SecureMyHouse</div>

    <div class="param-list">
      <div
          v-for="(item, index) in ParamsList"
          :key="'param' + index"
          class="param"
      >
        <img
            :src="item.img"
            alt="param icon"
            class="param-icon"
        >

        <div class="param-name">
          {{ item.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ParamsList } from '../model/params-list.js';
</script>

<style scoped>
.third-slide {
  margin-left: 200px;
  margin-bottom: 50px;

  @media (min-width: 320px) and (max-width: 1024px) {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

.laptop {
  position: absolute;
  right: 0;
  top: 60px;
  height: 92vh;

  @media (min-width: 1025px) and (max-width: 1200px){
    display: none;
  }

  @media (min-width: 1200px) {
    z-index: -100;
  }
}

.title {
  max-width: 575px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;

  font-size: 45px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.45px;

  @media (min-width: 320px) and (max-width: 768px) {
    max-width: 100%;
    margin-top: 70px;
    text-align: center;
    background: none;
    font-size: 20px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    max-width: 100%;
    margin-top: 100px;
    text-align: center;
    background: none;
    font-size: 30px;
  }
}

.param {
  max-width: 300px;
  width: 100%;
}

.param-list {
  max-width: 625px;
  width: 100%;

  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  @media (min-width: 320px) and (max-width: 1024px) {
    max-width: 100%;
    justify-content: center;
  }
}

.hide-on-mobile {
  @media (max-width: 1024px) {
    display: none;
  }
}
</style>